html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #0b0b0f;
  --text-dark: #ffffff;
  --text-light: #0b0b0f;
}

::selection {
  background: #6366f1;
  color: white;
}
